*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}

.text-primary{
    color: #4e73df!important;
}

.border-primary{
    border-color: #4e73df!important;
}

.bg-primary,
.btn-primary{
    background-color: #4e73df!important;
}